.container{
    background-color: black;
    padding: 16px;
    gap: 8px;
    height: 320px;
    width: 320px;
}

button{
    width: 64px;
    height: 64px;
}

.left-hand{
    margin-left: 56px;
}

#display{
    background-color:whitesmoke;
    color: aqua;
    margin-left: 56px;
    height: 64px;
}